*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#all{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 89vh;
background: #e0e0e0;
box-shadow:  8px 8px 6px #8b8b8b,
             -8px -8px 6px #ffffff;
}
h1{
    font-size: 10vh;
    font-weight: bold;}
h2{
    font-size: 5vh;
    font-weight: bold;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 25vh;
    border-radius: 89vh;
    background: #e0e0e0;
    box-shadow:  8px 8px 6px #8b8b8b,
                 -8px -8px 6px #ffffff;
    color: black;
    margin: 2vh 2vh 2vh 2vh;
}
.time{
    font-size: 5vh;
    font-weight: bold;
}
#round{
    width: 15vw;
    height: 25vh;
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
display: flex;
justify-content: center;
align-items: center;
}
body{
    font-size: 5vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#iii{
    font-size: 5vh;
}
button{
  padding: 2vh 2vh 2vh 2vh;
  margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    width: 12vw;
    border-radius: 89vh;
background: #e0e0e0;
box-shadow:  8px 8px 6px #8b8b8b,
             -8px -8px 6px #ffffff;
}
#CONTROL{

    display: flex;
}
#start:hover{
    background-color: seagreen;
    color: white;
}
#stop:hover{
    background-color: red;
    color: white;
}
#reset:hover{
    background-color: blue;
    color: white;
}